@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .switch {
        @apply relative flex items-center w-9 h-5;
    }

    .switch input {
        @apply opacity-0 w-0 h-0;
    }

    .slider {
        @apply w-full h-full flex items-center px-[2px] cursor-pointer bg-[#ccc] duration-[0.4s];
    }

    .slider:before {
        @apply size-4 duration-[0.4s];
        background-image: linear-gradient(123.24deg, #068A90 19.8%, #9FF21C 130.66%);
        content: "";
    }

    input:checked+.slider {
        @apply bg-[#9FF21C];
    }

    input:checked+.slider:before {
        @apply transform-cpu translate-x-4;
    }
    
    .slider.round {
        @apply rounded-full;
    }

    .slider.round:before {
        @apply rounded-full;
    }
}